/* Work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


.btn-primary {
    color: #FFF;
    background: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Header Styles -------------------- */

header {
    background: rgba(255, 143, 15, 0.247);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 40px;
}

nav li {
    list-style: none;

    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

nav li:hover a {
    color: purple;
}



/* Banner styles ---*/
.banner {
    padding: 20px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 100px auto 30px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
}

.banner img {
    width: 100%;
}

/* Header Style End ----------------------------------- */

/* Main section style --------------------------------- */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Feature Section Style Start ----- */


.feature {
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 75px;

}

.feature-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.fc-1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.fc-2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.fc-3 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}


.feautre-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 30px;
}

/* Feature Section Style End ----- */


/* Facts part style */

.fact-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.fact-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    width: 550px;
    margin-bottom: 100px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 5px;
    border: 1px solid #FF900E;
    padding: 30px;
    text-align: center;
}

.card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}




/* Responsive Media Quaries */


/* Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }


    nav>ul {
        margin-top: 30px;
        justify-content: space-between;
    }

    /* feature part */
    .feature {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .feature-pic {
        grid-template-columns: 1fr;
    }

}



/* Tablet or medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        margin-top: 30px;
    }

    /* feature part */
    .feature {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .feature-pic {
        grid-template-columns: repeat(2, 1fr);
    }
}