/* Work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


.btn-primary {
    color: #FFF;
    background: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Header Styles */

header {
    background: rgba(255, 143, 15, 0.247);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 40px;
}

nav li {
    list-style: none;

    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}

nav li:hover a {
    color: purple;
}



/* Banner styles */
.banner{
    padding: 20px;
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 100px auto 30px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
}

.banner img{
    width: 100%;
}


/* Responsive Media Quaries */


/* Mobile Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
    

    nav>ul {
       margin-top: 30px;
       justify-content: space-between;
    }
   
}



/* Tablet or medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
    header{
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
    
    nav>ul {
       margin-top: 30px;
    }
}